<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552784927731-odknjusfapnjojdssv1qsm957fr76sbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552784927731-odknjusfapnjojdssv1qsm957fr76sbp</string>
	<key>API_KEY</key>
	<string>AIzaSyCAb8Q4MbU96IqbdsobjYU7clJtODijM0w</string>
	<key>GCM_SENDER_ID</key>
	<string>552784927731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>idiotlabs.drinkwho</string>
	<key>PROJECT_ID</key>
	<string>drink-who</string>
	<key>STORAGE_BUCKET</key>
	<string>drink-who.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552784927731:ios:78abbc3c0989441a075086</string>
	<key>DATABASE_URL</key>
	<string>https://drink-who.firebaseio.com</string>
</dict>
</plist>